.daily {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.daily-habit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.daily-habit-name {
    font-weight: bold;
}
.daily-habit-name-yes {
    font-weight: bold;
    text-decoration: line-through;
    color: blue;
}
.daily-habit-name-no {
    font-weight: bold;
    text-decoration: line-through;
    color: red;
}

.daily-habit-buttons button{
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #efefef;
    padding: 0;
    font-size: 15px;
}

.daily-habit-buttons button:hover {
    background-color: #efefef;
    /* color:  */
}