.daily {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.daily h2 {
  font-size: 90px;
  color: #514849;
}

.daily-habit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  border-top: 1px solid #eae8e8;
}

.daily-habit-name {
  font-size: 20px;
}
.daily-habit-name-yes {
  font-weight: bold;
  text-decoration: line-through;
  color: #2107d8;
}

.daily-habit-name-no {
  font-weight: bold;
  text-decoration: line-through;
  color: #e80d0d;
}

.daily-habit-buttons button {
  background-color: white;
  height: 40px;
  width: 40px;
  margin: 5px;
  border-radius: 50%;
  border: 1px solid #efefef;
  padding: 0;
  font-size: 15px;
}

.daily-habit-buttons button:hover {
  background-color: #efefef;
  /* color:  */
}

.daily-habit-buttons button:focus {
  outline: none;
  box-shadow: 0px 0px 10px blue;
}

.daily-dashboard-button {
  background-color: #ffec26;
  color: black;
  width: 250px;
  font-size: 25px;
  font-family: "Abel", sans-serif;
  border: none;
  margin: 20px;
  margin-top: 150px;
  font-weight: 300;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
