.daily {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.daily h2 {
    font-size: 90px;
    color: #514849;
  }

.daily-habit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    border-top: 1px solid #eae8e8;
}

.daily-habit-name {
    font-size: 20px;
}
.daily-habit-name-yes {
    font-weight: bold;
    text-decoration: line-through;
    color: #2107d8;
}
.daily-habit-name-no {
    font-weight: bold;
    text-decoration: line-through;
    color: #e80d0d;
}

.daily-habit-buttons button{
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #efefef;
    padding: 0;
    font-size: 15px;
}

.daily-habit-buttons button:hover {
    background-color: #efefef;
    /* color:  */
}