form {
  height: 250px;
  display: block;
}

.categories {
  margin: 100px auto;
}

.color-picker {
  margin: 20px 20px 20px 80px;
  margin-right: 0;
}

.box {
  padding: 20px;
  margin: 10px 0;
  width: 20px;
  height: 20px;
}

.category-added {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
  margin: 20px auto;
  border-radius: 10px;
}

.category-text {
  margin: 20px 20px;
  display: flex;
  align-items: center;
}

input {
  max-width: 300px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  text-align: center;
}

input::placeholder {
  text-align: center;
}
