form {
  height: 250px;
  display: block;
}

.categories {
  margin: 100px auto;
}

.color-picker {
  margin: 20px 20px 20px 80px;
  margin-right: 0;
}

.box {
  padding: 20px;
  margin: 10px 0;
  width: 20px;
  height: 20px;
}
