h1 {
  text-align: center;
}

.habit-form {
  max-width: 400px;
  border: none;
}

.input-form {
  display: flex;
  border: none;
  max-width: 400px;
}

.onboard-habits {
  margin: 100px auto;
  max-width: 400px;
  width: 100%;
  text-align: left;
}

.habit-button {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.habit-added {
  display: flex;
  max-width: 300px;
  width: 100%;
  margin: 20px auto;
  border-radius: 10px;
  text-align: center;
}

.select-category {
  margin: auto;
  height: 30px;
}

.habit {
  max-width: 60%;
  width: 100%;
  margin: 20px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.delete {
  text-align: center;
  margin: 5px;
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  border: 1px solid red;
  border-radius: 50%;
  cursor: pointer;
}

.edit-button {
  max-width: 40px;
  height: 20px;
  width: 100%;
  margin: 5px;
  padding: 0;
  font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 30%;
  width: 100%;
  margin: 20px 5px;
}

.step-two {
  margin-top: 100px;
}

.finish {
  max-width: 400px;
  width: 100%;
  margin: 30px auto;
}
